:root{
	font-family: Romanica,Georgia;
}

body,div{
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	align-items: center;
}

body{
	background-color:#0c0c0c;
	color:white;
}

div{
	min-width:30vw;
	min-height:30vh;
	margin:1%;
	background-color: #780206;
	border-radius:5px;
	filter:grayscale(100%);
}

div:hover{
	transition:0.1s ease-in-out;
	filter:grayscale(0%);
}

div h3{
	width:100%;
	text-align:center;
	text-transform: capitalize;
	letter-spacing:1px;
	color:#F0C27B;
	text-shadow: 0px 3px 1px rgba(0,0,0,0.3);
}

div img{
	margin: 0 1%;
	height:150px;
 	filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.8));
}
